[href] {
  color: red;
}

h1[class] {
  background-color: pink;
}

[class="green"] {
background-color: yellowgreen;
}

/* ~= 공백으로 구분해서 해당 단어가 있는 속성 */
/* [title~="태그"] {
  color: red; */
/* } */

/* |= 속성명이 정확하게 해당 단어 , 단어 뒤 - 나오는 것 */
/* [title|="태그"] {
  color: red;
} */

/* ^= 해당 단어로 시작하는 모든 것 */
[Title^="태그"] {
  color: red;
}

/* $= 해당 단어로 끝나는 것*/
[title$="태그"] {
  color: blue;
}

[title*="태그"] {
  font-style: italic;
}