* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 인라인 */
span, a {
  border: 1px solid red;
}
/* 인라인 요소는 크기지정을 못함 */
/* 상하 마진도 적용을 못함 */
span {
  width: 100px;
  height: 200px;

  margin-top: 100px;
  margin-bottom: 100px;
}
/* 하지만 좌우마진 가능, 패딩도 가능 */
a {
  margin-left: 20px;
  margin-right: 10px;

  padding: 5px;
}

ul > li {
  display: inline-block;
  border: 1px solid red;
  width: 100px;
  text-align: center;
}

.container {
  text-align: center;
}