div {
  display: inline-block;
  margin: 13px;
  transition: all 0.5s;
}

.div1 {
  width: 100px;
  height: 100px;
  background-color: red;
}

.div2 {
  width: 100px;
  height: 100px;
  background-color: blue;
}

.div3 {
  width: 100px;
  height: 100px;
  background-color: green;
}

.div4 {
  width: 100px;
  height: 100px;
  background-color: mediumpurple;
}

div:hover {
  scale: 1.2;
  box-shadow: 2px 2px 10px grey;
}