.black-bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;

  position: fixed;

  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: all 1s;
}

.show {
  /* display: block; */
  visibility: visible;
  opacity: 1;
  
}

.white-bg {
  width: 80%;
  background: white;
  padding: 15px;
  border-radius: 5px;
}