/* 전체 선택자 - 글꼴 설정할 때 등 사용 */
* {
  color: red;
}
/* 태그 선택자 */
h1 {
  background-color: aqua;
}
/* 아이디 선택자 */
#title {
  text-align: center;
}
/* 클래스 선택자 */
/* .가 클래스를 의미 */
/* 여러 선택자를 동시에 적용하려면 ,로 구분해서 작업 */
.color, h3 {
  font-size: 50px;
  color: blueviolet;
}