.parent {
  border: 1px solid red;
  display: flex;
}

.parent > div {
  height: 100px;
  /* width: 100px; */
  background-color: skyblue;
  margin: 5px;
}

.child1 {
  /* 증가 비율 */
  flex-grow: 1;
  /* 감소 비율 */
  flex-shrink: 3;
}

.child2 {
  flex-grow: 2;
  flex-shrink: 2;
}

.child3 {
  flex-grow: 3;
  flex-shrink: 1;
}

.parent2 {
  border: 1px solid red;
  height: 500px;
  display: flex;
}

.parent2 > div {
  width: 100px;
  height: 100px;
  background-color: pink;
  margin: 5px;
}

/* order는 순서 변경 : 0부터 시작함 */
.child4 {
  /* flex: 1; */
  /* order: 1; */
  align-self: center;
}

.child5 {
  flex: 1;
  /* order: 2; */
  align-self: flex-end;
}

.child6 {
  flex: 1;
  /* order: 0; */
}

.parent3 {
  border: 1px solid red;
  display: flex;
}

.parent3 > div {
  width: 100px;
  height: 100px;
  background-color: yellowgreen;
}

.child7 {
  /* margin-right: auto; */
}

.child8 {
  margin-right: auto
}