* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  font-size: 0;
}

li {
  font-size: 16px;
  width: 100px;
  height: 200px;
  border: 1px solid red;
  display: inline-block;
}

.visi {
  /* 숨김처리는 해주지만 해당 영역은 남아있음 */
  /* visibility: hidden; */

  /* 숨김처리도 해주고 영역도 사라짐 (사라진 효과) */
  display: none;
}