/* 
@media : 미디어 쿼리를 쓸거임
screen : 미디어 타입 - 화면
and : 조건들을 연결해주는 논리연산자
max-width : 조건.. 아래코드는 최대 너비가 500px일때까지만 적용할 것이다
*/

/* @media (max-width: 500px) {
  /* 해당 조건에 만족할 경우 적용할 css 코드 */

/* } */

* {
  box-sizing: border-box;
}

.container {
  background-color: pink;
  height: 2000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container > div {
  background-color: skyblue;
  width: 20%;
  height: 200px;
  margin: 5px;
}


@media (max-width: 425px) {
  .container {
    flex-direction: column;
  }

  .container > div {
    width: 100%;
    height: 150px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .container {
    align-content: flex-start;
  }

  .container > div {
    width: 45%;
    height: 150px;
  }
}


.header1 {
  background-color: yellowgreen;
  height: 100px;
}

.header2 {
  background-color: skyblue;
  height: 100px;
}



@media (max-width: 768px) {
  .header1 {
    display: none;
  }

  .header2 {
    display: block;
  }
}

@media (min-width: 769px) {
  .header1 {
    display: block;
  }

  .header2 {
    display: none;
  }
}