ol {
  list-style-type: lower-roman;
}
/* ul > li{ */
  /* list-style-image: url("../../images/pepe.jpg");   */
  /* list-style-type: none;
  background-image: url(../../images/pepe.jpg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: left center;
  margin: 0;
  padding: 20px 0 20px 15px; */
/* } */

ul {
  list-style-position: outside;
  list-style: square;
}
