.nav > li {
  list-style-type: none;
  float: left;
  width: 20%;
  text-align: center;
}

.nav {
  background-color: skyblue;
  height: 30px;
}

a {
  text-decoration: none;
}

i {
  font-size: 32px;
  color: red;
}