.rel {
  /* static을 기준으로 상대적 배치 */
  position: relative;
  right: 100px;
  bottom: 50px;
}

div {
  border: 1px solid red;
  width: 300px;
  height: 300px;
  position: relative;
  margin: 200px;
}

.abs {
  width: 100px;
  height: 100px;

  /* static기준이 아니라 부모요소가 기준이 됌 */
  /* 단, 부모가 static이 아니여야 함 */
  /* 만약 부모가 static이면 그 상위요소로 넘어가게 됌 */
  position: absolute;
  /* 부모 요소의 정중앙 */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  /* 부모 요소의 정중앙 아래 */
  /* bottom: 0;
  left: 50%;
  transform: translate(-50%); */

  /* 부모 요소의 왼쪽 바깥 */
  /* top: 0;
  right: 100%; == 부모크기
  or left: -100px; == 이미지 크기 */

}