body {
  padding: 150px;
}

div {
  width: 50px;
  height: 50px;
  background-color: red;

  /* 해당 요소를 이동 */
  /* transform: translate(100px, 100px); */
  /* transform: translateX(10px); */
  /* transform: translateY(10px); */

  /* 요소의 크기를 변경*/
  transform: scale(5, 5);

  /* 요소의 각도 변경 */
  transform: rotate(30deg);
  /* 회전 시 중심점 변경 */
  transform-origin: left top;

  /* 요소의 기울기 설정 */
  transform: skew(15deg, 15deg);
}